@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poetsen+One&family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Nunito;
}

/* ---- Topbar styles----  */

.topbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(11, 11, 60);
}

.left,
.right {
    padding: 10px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.left {
    flex: 5;
}

.right {
    border-radius: 80px 0 0 25px;
    background-color: blue;
    flex: 1;
}

i {
    color: rgb(66, 138, 167);
    font-size: 18px;
}

.topbar span {
    color: white;
    font-size: 18px;
    font-family: Nunito;
}

.right .social i {
    background-color: white;
    padding: 8px 10px;
    border-radius: 50%;
}


/* --- Navbar styles ---  */

.navbar {
    height:60px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 100px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo i {
    font-size: 45px;
}

.logo span {
    font-size: 30px;
    font-weight: 700;
}

.links a {
    text-decoration: none;
    margin: 0 10px;
    font-weight: 600;
}

.btn button {
    border: none;
    padding: 8px 12px;
    background-color: blue;
    color: white;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 700;
}

.links a{
    position: relative;
}
.links a::after{
    content: "";
    background-color: rgba(0, 0, 0, 0.712);
    height: 4px;
    width: 0;
    position: absolute;
    left: 0;
    top: 25px;
    border-radius: 10px;
    transition: 0.5s;
}
.links a:hover::after{
    width: 100%;
}


/* ---- hero styles ----  */

.hero{
    /* 60+60+(25+25) */
    height: calc(100vh - 170px);
    /* background-image: url(hero_bg.jpg); */
    background: 
    linear-gradient(rgba(27, 27, 84, 0.581),
    rgba(41, 41, 84, 0.584)),url(hero_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   
}
